@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #111118;

    --card: #ffffff;
    --card-foreground: #111118;

    --popover: #ffffff;
    --popover-foreground: #111118;

    --primary: #4949e9;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #111118;

    --muted: #f1f5f9;
    --muted-foreground: #636388;

    --accent: #f1f5f9;
    --accent-foreground: #111118;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #4949e9;

    --radius: 1rem;
  }

  .dark {
    --background: #111121;
    --foreground: #ffffff;

    --card: #1c1c2e;
    --card-foreground: #ffffff;

    --popover: #1c1c2e;
    --popover-foreground: #ffffff;

    --primary: #4949e9;
    --primary-foreground: #ffffff;

    --secondary: #1e293b;
    --secondary-foreground: #ffffff;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #ffffff;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #27272a;
    --input: #27272a;
    --ring: #4949e9;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .marching-ants {
    background: linear-gradient(90deg, var(--primary) 50%, transparent 50%);
    background-size: 20px 2px;
    background-repeat: repeat-x;
    animation: march 1s linear infinite;
    height: 2px;
  }

  @keyframes march {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 20px 0;
    }
  }
}

.body,.html{
   font-family: "Inter", sans-serif;
}
