@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --background: #f8f8fa;
    --foreground: #0f1729;

    --card: #ffffff;
    --card-foreground: #0f1729;

    --popover: #ffffff;
    --popover-foreground: #0f1729;

    --primary: #3333dc;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f1729;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f1729;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #3333dc;

    --radius: 0.5rem;
  }

  .dark {
    --background: #09090a;
    --foreground: #f8fafc;

    --card: #18181b;
    --card-foreground: #f8fafc;

    --popover: #18181b;
    --popover-foreground: #f8fafc;

    --primary: #818cf8;
    --primary-foreground: #0f1729;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #27272a;
    --input: #27272a;
    --ring: #818cf8;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
