name: Deploy to Firebase Hosting on Push
on:
  push:
    branches:
      - main  # Change this to 'master' if that is your branch name
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install and Build
        run: |
          cd frontend
          npm ci
          npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_PATHAI_051606 }}'
          projectId: pathai-051606
          channelId: live